{% extends "/components/base.html" %}

{%block content%}

<div class="container mx-auto text-center w-50 border spacer">
    <div class="card m-3 text-center m-0 p-0" style="width: 50rem;">
        <div class="card-body">
        <h2 class="card-title">{{space.name|upper}} £{{space.price}}</h5>
        <p class="card-text">{{space.description}}</p>
        <p>
            <span>
                {{space.size}}sqm
            </span>
            <span>
                {{space.location}}
            </span>
        </p>
        <a href="#" class="btn btn-primary">See more</a>
        </div>
    </div>
</div>

{% for date in dates %}
<p>
    {{date.date}}
</p>
{% endfor %}
{%endblock content %}

