{% extends "components/base.html" %}
{%block title%}
Create Space
{%endblock title %}

{%block content%}
<div class="form-container" style="height: 80vh;">
    <div class="card mx-auto" style="width: 35rem;">
        <div class="card-body">
        <h5 class="card-title">Create New Space</h5>
        <form action="/spaces/new" method="POST">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" name="name" id="name">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" type="text" name="description" id="description">
            </div>
            <div class="mb-3">
                <label class="form-label" for="size">Size</label>
                <input class="form-control" type="number" name="size" id="size">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="location" id="location">
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <input class="form-control" type="number" name="price" id="price">
            </div>
            <input class="btn btn-primary login-btn" type="submit" value="Create New Space">
        </form>
    </div>
</div>

{%endblock content %}
