{% extends 'components/base.html' %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Space Name</th>
        <th scope="col">Booking Date</th>
        <th scope="col">Confirmed</th>
        <th scope="col">Guest Email</th>
      </tr>
    </thead>
    <tbody>
    {% for booking in bookings %}
      <tr>
        <th scope="row">1</th>
        <td>{{booking.space_name}}</td>
        <td>{{booking.date}}</td>
        <td>{{booking.confirmed}}
            <form action="" method="POST">
                <input type="text" value="{{booking.id}}" hidden name="booking_id">
                {% if booking.confirmed == False %}
                <input class="btn btn-success" type="submit" value="Confirm Booking">
                {% endif %}
            </form>
        </td>
        <td>{{booking.guests_email}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}